nav {
  height: 120px;
  width: 100%;
  color: #FFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #4ef739;
  background-image: url(https://www.transparenttextures.com/patterns/dark-geometric.png);
  /*style span within nav element*/
}
nav span {
  flex: auto;
  font-family: Bungee;
}
nav div {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > div > div > i {
  color: red;
}

@media (min-width: 1025px) {
  nav {
  background-color: #4056A1;
  }
}